$bg-color-primary : #040C18;
$bg-footer: #031B34;
$bg-blog: #042C54;
$text-color:#81AFDD;
$subtext-color:#FF8A71;

$bg-button: #FF4820;
$button-border-radius: 5px;

$text-gradient: linear-gradient(90deg, #AE67FA 2%, #F49867 100%);
$bar-gradient: linear-gradient(100deg, #AE67FA -13%, #F49867 100%);
